.filter-sorter{
    padding-top: 10vh;
    padding-bottom: 5vh;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    cursor: pointer;   
}

.arrows-sort-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(73, 73, 73);
    padding-right: 0.5rem;
}

.arrows-sort-btn:hover{
    color:coral
}

.arrow-sort-symbol{
    font-size: 1.1rem;
    vertical-align: middle;
}


.drop-down{
    position: relative;
    display: inline-block;   
}

.drop-down select{
    padding-right: 0;
    margin-right: 2rem;
    border:none;
    font-family: inherit;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    outline: none;
    color: rgb(73, 73, 73);
}

