*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.detail-page-body{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-body{
    margin-top:15rem;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(82, 81, 81);
    margin-bottom: 5rem;
  }

.detail-container{
    width: 600px;
    margin-top: 1px;
    
}

.return-btn{
    font-weight: bold;
    border: none;
    outline: none;
    background: transparent;
    padding-right: 0;
    color: rgba(0, 0, 0, 0.562);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
    transition: opacity .4s ease;
}

.return-btn:hover{
  color:coral
}

.arrow{
  text-align:right;
  padding-bottom: 1rem;
}

.main-detail-info{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-top: 50vh;
    width: 40rem;
    height: 40rem;
}

.info-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.detail-title{
    padding-bottom: 2rem;
    font-size: 0.8rem;
    overflow:hidden;
    text-overflow: ellipsis;
} 

.info-block{
    padding-bottom: 1rem;
    padding-right: 2rem;
}
 
.diet-dish{
    font-weight: lighter;
    color: rgb(119, 116, 116);
    font-size: 0.8rem; 
}
  
.diet-dish span{
    font-weight: bold;
}
  
.detail-numeric-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 1rem;
    color: #d50000;
}

.detail-image{
    border-radius: 3px;
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    margin-right: 2rem;
}

/* TABS */
.tab{
    display:none; /*esconde los círculos*/
}

.detail-tab{
    display:block;
    float: left;
    padding: 12px 20px;
    margin-right: 5px;
    background: #eee;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px 3px 0 0;
}

.detail-tab:hover, .tab:checked + .detail-tab{
    background: rgb(173, 173, 173);
    color: white;
}

.tab-body{
    clear: both;
    perspective: 600px;
    margin-bottom: 500px;   
}

.tab-body .tab-detail{
    position: absolute;
    width: 600px;
    opacity: 0;
    border: 2px solid rgb(173, 173, 173);
    padding: 20px 25px 25px 30px;
    line-height: 1.5em;
    transition: opacity 0.3s, transform 1s;
    border-radius: 0 3px 3px;
    transform: rotateX(-15deg);
    transform-origin: top center;    
}

#tab1:checked ~ .tab-body div:nth-of-type(1),
#tab2:checked ~ .tab-body div:nth-of-type(2){
    opacity: 10;
    transform: rotateX(0deg);
}

.detail-summary{
    font-size: 1rem;
    color: darkgray;
    margin-bottom: 1.5rem;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 1.5rem;
    text-decoration:none;   
 }

a {
    color: inherit; 
    text-decoration: inherit;  
  }

.detail-inst{
    font-size: 1rem;
    color: darkgray;
    margin-bottom: 1.5rem;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 1.5rem;
    text-decoration:none;   
 }

 


