*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagination{
    width: 100%;
    height: 100%;
}

.pagination-ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

.page-active{
    cursor: pointer;
    padding: 1rem;
    color: red;           
    background-color: transparent;
    font-size: 1rem;
    border: none;
    margin-top: 2.6rem;
    font-weight: bold;
    }

.pagination-num{    
    cursor: pointer;
    padding: 1rem;
    color: coral;           
    background-color: transparent;
    font-size: 1rem;
    border: none;
    margin-top: 2.6rem;
    font-weight: bold;
}

.pagination-num:hover{
    color: red;
}

