.error-btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    color: black;
    width: min-content;
    height: min-content;
    margin-top: 2rem;
    padding: 10px 30px;
    border: black solid 1px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
    transition-duration: 1s;
}

.error-btn:hover {
    background-color: coral; 
    color: white;
  } 